body {
    background-color: hsl(30, 38%, 92%);
    margin: 50% 35%;
}

.content {
    position: relative;
    width: 490px;
    height: 400px;
    background-color: white;
    display: flex;
}

.product-img {
    width: 250px;
}

.product-name{
    font-family: Fraunces;
    text-transform: uppercase;
    letter-spacing: 3px;
    opacity: 0.5;
    margin-left: 30px;
}

.product-full-name{
    text-align: left;
    font-family: Fraunces;
    margin-left: 30px;
    margin-right: 5px;
    margin-top: -15px;
}


.product-disc{
    font-size: small;
    color: hsl(228, 12%, 48%);
    text-align: left;
    line-height: 1.4;
    margin-left: 30px;
    margin-right: 30px;
}

.price{
    display: flex;
    margin-top: -15px;
}

.current-price{
    font-weight: 700;
    font-family: Montserrat;
    font-size: x-large;
    color: hsl(158, 36%, 37%);
    margin-left:30px ;
}

.was-price{
    display: inline-block;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
    font-size: small;
    margin-left: 20px;
    margin-top: 32px;
}


button{
    background-color: hsl(158, 36%, 37%);
    color: white;
    padding: 10px 70px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover{
    background-color: hsl(158, 35%, 20%);
}

button::before{
    position: absolute;
    content: url(images/icon-cart.svg);
    left: 65px;
}
